target/

.idea/

.classpath
.project
.settings/

*.class

*.log

.bluej/

Desktop.ini

*.cab
*.msi
*.msm
*.msp

*.lnk

.sublime-workspace

.vscode/

node_modules/

dist/
build/
out/

*.npm
*.lock

yarn-error.log
yarn.lock

.cache/
.parcel-cache/

.eslintcache

.DS_Store
Thumbs.db
ehthumbs.db

*.suo
*.user
*.userosscache
*.sln.docstates

mono_crash.*

ehthumbs_vista.db

$RECYCLE.BIN/

.idea_workspace/

.DS_Store?
._*
.Spotlight-V100
.Trashes

.ipynb_checkpoints

.spyderproject

.spyderworkspace

*.kdev4

*.vpw
*.vpwhist

*.depend
